<h1 align = "center"> Article: <%= @article.title %></h1>

<div class = "article-post">
    <p class = "article-title col-s12"> <%= @article.title %></p>
    <p class = "article-description col-s12"> <%= @article.description %></p>
    <p class = "article-date col-s12"> <%= @article.updated_at %></p>
</div>



<%= link_to "Edit this Workout", edit_article_path(@article), class: "action-button"%> 
<%= link_to 'Delete', article_path(@article), class: "action-button", method: :delete, data: {confirm: "Are you sure you want to delete the article? "} %>