<h1 align = "center"> Article: <%= @article.title %></h1>

<div class = "article-post">
    <p class = "article-title col-s12"> <%= @article.title %></p>
    <p class = "article-description col-s12"> <%= @article.description %></p>
    <p class = "article-date col-s12"> <%= @article.updated_at %></p>
</div>



<%= link_to "Edit this article", edit_article_path(@article), class: "action-button"%> 

